@import "tailwindcss";

:root {
  --background: #f4f6f0;
  --foreground: #171717;
}

@theme {
  --color-impact-blue: #222958;
  --color-impact-orange: #f26828;
}

@layer components {
  .bento-card {
    @apply bg-linear-to-br from-[#F7F1E7] to-[#F3D7A7] border-4 border-impact-blue rounded-2xl;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-manrope: var(--font-manrope);
  --font-work-sans: var(--font-work-sans);
  --font-poppins: var(--font-poppins);
  --font-playfair: var(--font-playfair);
  --font-spectral: var(--font-spectral);
}

body {
  background: var(--background);
  color: var(--foreground);
}
